.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  margin-left: 1%;
}

input {
  font-size: 18px;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0 50px 0px;
  border: none;
  border-radius: 3px;
  background-color: rgb(235, 235, 235);
}

select {
  font-size: 18px;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 10px 0 50px 0px;
  border: none;
  border-radius: 3px;
  background-color: rgb(235, 235, 235);
}

select:focus {
  width: 100%;
  padding: 10px;
  margin: 10px 0 50px 0px;
  border: none;
  border-radius: 3px;
  background-color: rgb(235, 235, 235);
}

select,
option {
  font-size: 18px;
  padding: 20px;
  border-radius: 5px;
}

button {
  font-size: 18px;
  margin: 20px 0;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(0, 68, 255);
  color: white;
}

button:hover {
  font-size: 18px;
  margin: 20px 0;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(3, 52, 187);
  color: white;
  transition: 300ms;
  cursor: pointer;
}
