 
.menu{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    list-style: none;
    }
    
    .menu > li {
      padding: 0 20px;
      text-decoration: none;
    
    }
    
    a {
     color: black;
     text-decoration: none;
    }
    
    a:hover {
     color: #ccc;
     text-decoration: none;
    }

    header{
        margin: 0 0 5% 0;
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: space-between;
        }