* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS 2", sans-serif;
  margin: 2% 10%;
}

h1 {
  margin: 3% 15% 3% 15%;
  text-align: center;
}

.box {
  margin: 50px 0;
}
