.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imgD {
  width: 1200px;
  margin: 80px 0 0 0;
}

.buttonD {
  position: absolute;
  top: 100px;
  right: 50px;
  z-index: 30;
  width: 5%;
}

.buttonD:hover {
  position: absolute;
  top: 100px;
  right: 50px;
  z-index: 30;
  width: 5%;
}
.titleD {
  font-size: 30px;
  margin: 20px 0 80px 0;
}

.divD {
  position: relative;
}
