* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body{
font-family: 'M PLUS 2', sans-serif;
margin: 2% 10%;



}

header{
margin: 0 0 5% 0;
display: flex;
flex-direction: row;
align-items: space-between;
justify-content: space-between;
}

h1{
  margin: 3% 15% 3% 15% ;
  text-align: center;
}

p{ text-align: center;}

.box {
  display: flex;
  justify-content: center;
  margin: 5% 0 0 0 ;
  padding: 5% ;
  border-radius: 1%;
  
}


.box h2{

  margin: 10% 5%;
  font-weight: 200;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(0, 68, 255);
  color:white;
}

.box h2:hover{
  margin: 10% 5%;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(3, 52, 187);
  color:white;
  transition: 300ms;
  cursor: pointer;
}


.box a{
  
  color:white;
}
